/* 
   :: GLOBAL
   :: TYPOGRAPHY
   :: NAVIGATION
*/

html {
   height: 100%;
}

body {
   align-items: center;
   display: flex;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   justify-content: center;
   min-height: 100%;
}

.wrapper {
   display: flex;
   flex-direction: column;
   text-align: center;
}

form {
   padding: 1cm;
   background-color: rebeccapurple;
}

select {
   background-color: goldenrod;
   border-color: black;
}

input {
   height: 2cm;
   width: 2cm;
   border-color: black;
   border-width: 0.25cm;
}

button {
   background-color: goldenrod;
   border-color: black;
}